## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np
import random

In [8]:
country_code_list = np.random.randint(1,100, size=10)
country_code_list

array([59, 17, 80, 11, 46, 11, 49,  1, 84, 71])

In [7]:
population_list = np.random.randint(10000,1000000, size=10)
population_list

array([845439, 692551, 179597, 199883, 651274, 487308, 545800, 628015,
       789019, 419327])

In [12]:
data = {'country': country_code_list, 'population': population_list}
data = pd.DataFrame(data)
data

   country  population
0       59      845439
1       17      692551
2       80      179597
3       11      199883
4       46      651274
5       11      487308
6       49      545800
7        1      628015
8       84      789019
9       71      419327

In [14]:
data[data['population'] == data['population'].max()]

   country  population
0       59      845439